@font-face {
    font-family: 'kenyan_coffeeregular';
    src: url('fonts/kenyc-webfont.woff2') format('woff2'),
        url('fonts/kenyc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'kenyan_coffeeregular', Arial, Helvetica, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px 7px rgba(252, 252, 0, 1);
    cursor: pointer;
}

.card > p {
    text-align: center;
    padding: 0.7em;
    font-size: 1.5em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 12px;
    color: #e2e8f0;
    background-color: rgb(26, 26, 26)
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.thumbs {
    width: 25px;
    height: 25px;
}

.movieInfoContainer {
    display: grid;
    grid-template-rows: .1fr .1fr .1fr;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(3, 84, 142, 1) 100%);
    gap: 32px;
    font-size: 24px;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 3;
    padding: 1em;
}

.moviesDataContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.moviesList {
    display: grid;
    grid-template-columns: .1fr .1fr .1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 32px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(3, 84, 142, 1) 100%);
}
.movies {
    width: 250px;
    height: 250px;
}

#navBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #171c20;
    width: 100%;
}

#logo {
    height: 100px;
    width: 200px;
}

#movieTitle {
    color: #e2e8f0;
    font-size: 2em;
}

#logoTitle {
    color: #e2e8f0;
    font-size: 3em;
}
ul {
    display: flex;
    gap: 32px;
}

ul>li:nth-child(-n+3) {
    white-space: nowrap;
}

ul>li:nth-child(-n+1),
ul>li:nth-child(n+4) {
    list-style-type: none;
}

.renderedMovieImage {
    width: 450px;
    margin-left: 1.5em;
}

.movieAdditional {
    display: grid;
    grid-row: 2;
    gap: 32px;

}

li {
    color: #e2e8f0;
}

.movieSummary {
    display: flex;
    flex-direction: column;
    color: #e2e8f0;
    font-size: 20px;
    gap: 16px;
}

.movieSummary > p {
    font-size: 22px;
}
nav {
    position: sticky;
    top: 0;
}
.iframeMobileViewContainer {
    visibility: hidden;
}

.iframeContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

iframe {
    height: 100%;
    width: 100%;
}

.thumbUp,
.thumbDown {
    width: 50px;
    height: 50px;
}

.thumbDown:active,
.thumbUp:active {
    transform: scale3d(1.25, 1.25, 1.25);
}

@media only screen and (max-width: 820px) {
    .moviesList {
        grid-template-columns: .1fr .1fr .1fr;
        height: 100%;
        width: auto;
    }
    .movies {
        height: 175px;
        width: 175px;
    }
    .thumbDown,
    .thumbUp {
        width: 35px;
        height: 35px;
    }
    .renderedMovieImage {
        width: 250px;
    }
}

@media only screen and (max-width: 896px) and (orientation: landscape) {

    html,
    body {
        overflow-y: auto;
    }

    .moviesList {
        grid-template-columns: .1fr .1fr;
        padding: 1em;
        height: auto;
    }

    .movieInfoContainer {
        height: fit-content;
    }


    .movieDetails {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .movieInfo {
        justify-content: center;
        align-items: center;
        gap: 16px;
        grid-column: 1 / span 4;
    }

    .renderedMovieImage {
        width: 250px;
    }

    .thumbUp,
    .thumbDown {
        height: 25px;
        width: 25px;
    }

    .iframeContainer {
        justify-content: center;
        align-items: center;
    }

}


@media only screen and (max-width: 414px) {
    .movies {
        width: 125px;
        height: 125px;
    }

    .moviesList {
        display: grid;
        grid-template-columns: .1fr .1fr;
        height: auto;
    }

    .movieInfoContainer {
        gap: 16px;
    }

    .moviesDataContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .movieSummary {
        height: fit-content;
    }

    .movieAdditional {
        display: flex;
        gap: 16px;
        height: fit-content;
    }

    .card>p {
        text-align: center;
        padding: 0.5em;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 25px 1px rgba(252, 252, 0, 1);
        cursor: pointer;
    }

    .card {
        display: flex;
        flex-direction: column;
        resize: none;
        max-height: 90%;
        padding-top: 1.5em;
    }



    .thumbDown:active,
    .thumbUp:active {
        transform: scale3d(1.25, 1.25, 1.25);
    }

    .thumbUp,
    .thumbDown {
        height: 25px;
        width: 25px;
    }

    .iframeContainer {
        position: relative;
        right: 4em;
    }

    .renderedMovieImage {
        height: 210px;
        width: 130px;
        margin-left: 1em;
    }

    .movieDetails {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .movieSummary {
        font-size: 18px;
        height: fit-content;
        grid-row-start: 2;
    }

    li {
        font-size: 14px;
    }
}